body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    background-color: #F8C8DC;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .header_text {
        font-size: 24px; /* Adjust font size */
    }
    .gif_container img {
        width: 80%; /* Adjust image size */
        height: auto;
    }
    .btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .pin-input input[type="number"] {
        width: 30px; /* Adjust input width for smaller screens */
        height: 30px; /* Adjust input height for smaller screens */
        font-size: 1rem; /* Adjust font size for smaller screens */
        margin: 0 3px; /* Adjust margin for smaller screens */
    }
}

/* For screens smaller than 576px */
@media only screen and (max-width: 576px) and (max-height: 568px) {
    .header_text {
        font-size: 20px; /* Further reduce font size */
    }
    .gif_container img {
        width: 100%; /* Adjust image size to fill container */
        height: auto;
    }
    .btn {
        padding: 8px 14px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}

.pin-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-input input[type="number"] {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5px;
}

#enterButton {
    margin: 20px 10px 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#hintButton {
    margin: 20px 0 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.pin-input{
    margin: 20px 0 0 0;
}