body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Ensure content is vertically centered */
    background-color: #F8C8DC;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}


.header_text {
    font-family: 'Nunito';
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 2vh 0; /* Use viewport height for margins */
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 2vw; /* Use viewport width for margins */
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 2vh 4vw; /* Use viewport units for padding */
    text-align: center;
    font-size: 2vw; /* Responsive font size */
    margin: 1vh 1vw; /* Use viewport units for margins */
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.pin-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0; /* Use viewport height for margins */
}

.pin-input input[type="number"] {
    width: 10vw; /* Responsive input width */
    height: 5vh; /* Use viewport height for input height */
    text-align: center;
    font-size: 2vw; /* Responsive font size */
    margin: 0 1vw; /* Use viewport units for margins */
}

#enterButton, #hintButton {
    margin: 2vh 1vw 0; /* Use viewport units for margins */
    padding: 1vh 2vw; /* Use viewport units for padding */
    font-size: 2vw; /* Responsive font size */
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 90vw; /* Responsive image width */
    height: auto;
}