body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Ensure content is vertically centered */
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 2vh 0; /* Use viewport height for margins */
}

.body_text, .body_name_text {
    font-family: 'Nunito';
    font-size: 2.5vw; /* Responsive font size */
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 2vh 0; /* Use viewport height for margins */
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_image, .right_image {
    margin: 0 2vw; /* Use viewport units for margins */
    max-width: 40vw; /* Responsive image width */
    height: auto;
}