

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.body_text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 20px;
    margin-bottom: 0px;
}

.body_name_text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_image{
    margin: 0px 20px 0px 0px;
}

.right_image{
    margin: 0px 0px 0px 20px;
    width: 10vmax;
    height: 10vmax;
}

@media only screen and (max-width: 500px) and (max-height: 593px) {
    .header_text {
        font-size: 36px;
    }
    .body_text,
    .body_name_text {
        font-size: 18px;
    }
    .right_image {
        width: 50vmin;
        height: 50vmin;
    }
    .left_image {
        margin: 0;
    }
}